{{- if and (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash
set -eufo pipefail

if [ -d "$HOME/.fzf" ]; then
    "$HOME"/.fzf/install --key-bindings --completion --no-update-rc
    EXIT_STATUS="$?"
else
    echo "WARNING: fzf not installed!!!"
    EXIT_STATUS=1
fi

exit "$EXIT_STATUS"

{{- end -}}
