{{- if .set_git_to_ssh -}}
#!/usr/bin/env bash

set -eufo pipefail

DOTFILES_HOME="$HOME/.local/share/chezmoi"
DOTFILES_SSH_ORIGIN="git@github.com:jfmercer/dotfiles.git"

echo "Changing git repo origin from HTTPS to SSH"
echo "Old origin:"
git -C "$DOTFILES_HOME" remote -v
git -C "$DOTFILES_HOME" remote set-url origin "$DOTFILES_SSH_ORIGIN"
echo "New origin:"
git -C "$DOTFILES_HOME" remote -v

echo "REMINDER: add SSH key and git fetch -a manually"

{{ end }}
