{{- if and (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash
set -eufo pipefail

# Install vim-plug (https://github.com/junegunn/vim-plug/wiki/tutorial#setting-up)
curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

# NOTE: plugin install fails on pwnbox, and not even the gods know why
# See https://github.com/junegunn/vim-plug/wiki/tips#install-plugins-on-the-command-line
vim -es -u "$HOME/.vimrc" -i NONE -c "PlugInstall --sync" -c "qa"

{{- end -}}
