{{- if and (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash
set -eufo pipefail

{{ if eq .chezmoi.os "linux" }}

# sometimes automated linux installs lose track of linuxbrew's vim
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{ end }}

if command -v brew > /dev/null; then
  "$(brew --prefix)/bin/vim" -T xterm-256color -c PlugUpdate -c qa
fi

{{- end -}}
