{{- if and (eq .chezmoi.os "darwin" "linux") -}}
#!/usr/bin/env bash
set -eufo pipefail

echo "DEBUG: starting vim plugin install script"

{{ if eq .chezmoi.os "linux" }}

# sometimes automated linux installs lose track of linuxbrew's vim
echo "DEBUG: Now putting linuxbrew in PATH"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

{{ end }}

echo "DEBUG: brew is in $(which brew)"
echo "DEBUG: vim is in $(which vim)"
echo "DEBUG: brew prefix is $(brew --prefix)"

if command -v brew > /dev/null; then
  echo "DEBUG: Now installing vim plugins"
  echo "DEBUG: now running $(brew --prefix)/bin/vim  -T xterm-256color -c PlugUpdate -c qa"
  "$(brew --prefix)/bin/vim" -T "xterm-256color" -c "PlugUpdate" -c "qa"
fi

{{- end -}}
