{{- $interactive := stdinIsATTY -}}

{{- $email := "jfmercer@protonmail.com" -}}
# These default to true--sign--so that they can be tested in CI.
{{- $install_mac_apps := true -}}
{{- $install_linux_apps := true -}}
{{- $set_git_to_ssh := true -}}

{{- if $interactive -}}
{{-   $email = promptString "email for .gitconfig" -}}
{{-   if (eq .chezmoi.os "darwin") -}}
{{-     $install_mac_apps = eq (promptString "Install Mac applications (y/n)") "y" -}}
{{-   end -}}
{{-   if (eq .chezmoi.os "linux") -}}
{{-     $install_linux_apps = eq (promptString "Install Linux applications (y/n)") "y" -}}
{{-   end -}}
{{-   $set_git_to_ssh = eq (promptString "Switch git repo from HTTPS to SSH? (y/n)") "y" -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

verbose: true

diff:
  # exclude:
  #   - scripts
  pager: "delta --diff-so-fancy | less --tabs=4 -RFX"

# Here we "export" the variables, so we can access them outside this file
data:
  email: {{ $email | quote }}
  install_mac_apps: {{ $install_mac_apps }}
  install_linux_apps: {{ $install_linux_apps }}
  set_git_to_ssh: {{ $set_git_to_ssh }}
  osid: {{ $osid | quote }}
