{{- $interactive := stdinIsATTY -}}

{{- $email := "jfmercer@protonmail.com" -}}
# These default to true--sign--so that they can be tested in CI.
{{- $install_mac_apps := true -}}
{{- $install_linux_apps := true -}}
{{- $set_git_to_ssh := true -}}
# Work-only git config (e.g. the Hagerty Azure DevOps URL rewrite). Defaults false
# so personal machines and CI never get it; set true only on work machines.
{{- $work := false -}}

{{- if $interactive -}}
{{-   $email = promptStringOnce . "email" "email for .gitconfig" $email -}}
{{-   if (eq .chezmoi.os "darwin") -}}
{{-     $install_mac_apps = promptBoolOnce . "install_mac_apps" "Install Mac applications" $install_mac_apps -}}
{{-   end -}}
{{-   if (eq .chezmoi.os "linux") -}}
{{-     $install_linux_apps = promptBoolOnce . "install_linux_apps" "Install Linux applications" $install_linux_apps -}}
{{-   end -}}
{{-   $set_git_to_ssh = promptBoolOnce . "set_git_to_ssh" "Switch git repo from HTTPS to SSH" $set_git_to_ssh -}}
{{-   $work = promptBoolOnce . "work" "Is this a work machine" $work -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

verbose: true

diff:
  # exclude:
  #   - scripts
  pager: "delta --diff-so-fancy | less --tabs=4 -RFX"

# Here we "export" the variables, so we can access them outside this file
data:
  email: {{ $email | quote }}
  install_mac_apps: {{ $install_mac_apps }}
  install_linux_apps: {{ $install_linux_apps }}
  set_git_to_ssh: {{ $set_git_to_ssh }}
  work: {{ $work }}
  osid: {{ $osid | quote }}
