[user]
    name = John F. Mercer
    email = {{ .email }}

[color]
    branch = true
    diff = true
    grep = true
    interactive = true
    status = true
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 227
    frag = magenta bold
    commit = 227 bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "interactive"]
    error = red bold

[color "status"]
    added = yellow
    changed = green
    untracked = red
    branch = magenta

[core]
    excludesfile = ~/.gitignore
    editor = vim
    ignorecase = false
    # the default is 'less -FRSX'
    pager = delta --diff-so-fancy

[credential]
#     helper = osxkeychain
	authority = basic

[delta]
    navigate = true
    line-numbers = true
    # side-by-side = true

[diff]
    colorMoved = default

# Any git pull or git fetch will auto-prune, that is, any local branch whose
# corresponding remote is gone will be deleted.
[fetch]
    prune = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictStyle = diff3

[push]
    # This is the default in Git 2.0
    default = simple
