{{- if and (eq .chezmoi.os "darwin") .install_mac_apps -}}
#!/usr/bin/env bash

set -eufo pipefail

brew tap homebrew/cask-fonts

{{ $brews := list
     "bat"
     "bash-completion"
     "brew-cask-completion"
     "cheat"
     "chezmoi"
     "colordiff"
     "ctags"
     "dockutil"
     "eza"
     "fd"
     "gh"
     "git"
     "git-delta"
     "gpg"
     "grc"
     "htop"
     "jq"
     "lazygit"
     "less"
     "navi"
     "nmap"
     "shellcheck"
     "ssh-copy-id"
     "telnet"
     "tig"
     "tmux"
     "trash"
     "tree"
     "vim"
     "wget" }}
{{ $casks := list
     "font-menlo-for-powerline" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) }}
brew "{{ . }}"
{{- end }}
{{ range ($casks | sortAlpha | uniq) }}
cask "{{ . }}"
{{- end }}
EOF

# Complete fzf installation
$(brew --prefix)/opt/fzf/install --key-bindings --completion --no-update-rc

{{ end }}
