{{- if eq .osid "linux-parrot" -}}
#!/usr/bin/env bash
set -eufo pipefail

DOTFILES="$HOME/.local/share/chezmoi"

# put brew in $PATH
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

# Set default shell to zsh
expect $DOTFILES/scripts/set_shell.expect $(cat $HOME/Desktop/my_credentials.txt | grep "Password:" | sed 's/Password: //')

# Install Menlo Powerline fonts
git clone https://github.com/lxbrtsch/Menlo-for-Powerline.git ~/.fonts
fc-cache -vf ~/.fonts

# Install arsenal
python3 -m pip install --no-input arsenal-cli

# Load default MATE terminal settings
dbus-launch dconf load /org/mate/terminal/ < $DOTFILES/terminal/MATE.terminal

# Linux specific aliases
cat <<EOF > $DOTFILES/system/linux.zsh
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
EOF

# Update specific packages
sudo apt update
sudo apt install -y codium

# TODO: Adjust keyboard shortcuts with kinto
# https://github.com/rbreaves/kinto

{{- end -}}